html,
body,
#root {
    height: 100%;
    width: 100%;
}

.App {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #004ead, #157EFB);
}

.App>* {
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    color: #004ead;
    font-weight: lighter;
    font-size: 2.5em;
}

.loginPageDiv,
.regPageDiv {
    display: flex;
    flex-direction: column;
    width: 355px;
    height: 60%;
    min-height: 440px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
}

.loginPageDiv button {
    color: white;
    font-size: 15px;
    background-color: #157EFB;
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
}

.regPageDiv button {
    color: white;
    font-size: 15px;
    background-color: #157EFB;
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
}

label {
    display: flex;
    flex-direction: column;
}

.checkbox {
    display: flex;
    flex-direction: row;
}

input {
    border-radius: 5px;
    padding: 7px;
    border: 1.5px solid grey;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.mainDiv {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    min-height: 67px;
    background-color: #004ead;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    z-index: 2;
    box-shadow: 1px 1px 8px 2px #888888;
}

header button {
    float: right;
    color: white;
    font-size: 15px;
    background-color: #157EFB;
    border: none;
    padding: 10px;
    margin: 14px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

header h1 {
    color: white;
    font-size: 2em;
    font-weight: lighter;
    margin-top: 15px;
    margin-left: 10px;
}

header h2 {
    color: white;
    font-weight: lighter;
    display: none;
}

.sideList {
    height: 100%;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: none;
    background-color: #F6F6F6;
    transition: left 1s;
}

.contentHolder {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    position: relative;
}

.selector {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 8px 2px #888888;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.subjectDiv {
    background-color: #f7b10f;
    position: relative;
    cursor: pointer;
    min-height: 200px;
    flex: 0 0 200px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: white;
    box-shadow: 1px 1px 8px 2px #888888;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}

.deleteBox {
    z-index: 99;
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
}

.subjectAddButton {
    min-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 10px;
    border: 0;
    order: 99;
    flex-shrink: 0;
    cursor: pointer;
    background-color: #004ead;
    font-size: 30px;
    color: white;
}

.text {
    font-size: 30px;
}

.subjectInput {
    min-height: 200px;
    order: 98;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid grey;
    flex-shrink: 0;
}

.subjectInput button {
    color: white;
    font-size: 15px;
    background-color: #004ead;
    border: none;
    height: 40px;
    min-width: 92px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

.subjectInput input {
    border-radius: 5px;
    padding: 7px;
    border: 1.5px solid grey;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.subjectInput label {
    margin: 5px;
}

[hidden] {
    display: none !important;
}

.scaler {
    box-shadow: 2px 2px 8px 2px #888888;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    background-color: white;
    margin: 50px;
    overflow-y: scroll;
    flex-grow: 1;
}

.scaler>* {
    flex-shrink: 0;
}

.scalerContainer button {
    color: white;
    font-size: 15px;
    background-color: #004ead;
    border: none;
    height: 40px;
    min-width: 92px;
    padding: 10px;
    margin: 14px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

.scalerContainer .scaleAddButton {
    min-height: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 50px;
    border: 0;
    flex: 0 1 50px;
    cursor: pointer;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 0;
    position: absolute;
    bottom: 50px;
    right: 60px;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.5);
}

table {
    padding: 15px;
    margin: 10px;
    width: fit-content;
}

td {
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    border: 2px solid slateblue;
    text-align: center;
    font-size: 20px;
}

th {
    width: 70px;
    border: 2px;
}

.assignDiv {
    margin: 5px;
    min-height: 80px;
    min-width: 80px;
    border-radius: 10px;
    border: 2px solid;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.pointDiv {
    border: 2px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.pointDiv button {
    color: white;
    font-size: 15px;
    background-color: #004ead;
    border: none;
    height: 40px;
    min-width: 92px;
    padding: 10px;
    margin: 14px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

.pointDiv label {
    margin-left: 14px;
}

.tint {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    transition: opacity 1s;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f8f8f8;
}

.scalerContainer {
    position: relative;
    display: flex;
    height: 100%;
    flex-grow: 1;
}

.headerMenu {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.menuWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

@media (max-width: 1200px) {
    .sideList {
        left: -250px;
        z-index: 1;
        position: absolute;
    }
    .contentHolder {
        flex-direction: column;
        align-items: center;
    }
    .selector {
        position: relative;
        flex-direction: row;
        width: fit-content;
        align-self: center;
        order: 0;
        flex-shrink: 0;
    }
    header>h2 {
        display: block;
    }
    .scalerContainer {
        order: 1;
        min-height: 100px;
        overflow-x: auto;
    }
}